<%- include("header") -%>

<h1>About the page</h1>
<p>fsdafnadf igajgheaijg ahsgfiuhfg faisihdgf uauhgfuehrg uhag arhegh greaouhg;ohg gouarehohg snk jagjkfab gbagfbg a</p>

<%- include("footer") -%>
